.tab {
    /* display: none; */
    width: 80%;
    box-shadow: 2px 2px 25px rgb(56, 232, 255);

}
.cam1 , .cam2 , .speaker {
    box-shadow: 2px 2px 20px rgb(56, 232, 255);
}

.pin-spacer {width: 0 !important
}
.pin-spacer {height: 0 !important
}


.pin-spacer {border: none !important
}