.tab {
	/* display: none; */
	width: 80%;
	box-shadow: 2px 2px 25px rgb(56, 232, 255);

	animation: neon 2s ease-in-out infinite alternate;
}
.cam1,
.cam2,
.cam3,
.speaker {
	box-shadow: 2px 2px 20px rgb(56, 232, 255);

	animation: neon 2s ease-in-out infinite alternate;
}

.pin-spacer {
	width: 0 !important;
}
.pin-spacer {
	height: 0 !important;
}

.pin-spacer {
	border: none !important;
}

@keyframes neon {
	0% {
		box-shadow: 2px 2px 20px rgb(56, 232, 255);
		border: 5px solid #30aadd;
	}
	100% {
		box-shadow: 2px 2px 20px #d31360;
		border: 5px solid #d31360;
	}
}
