* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root
{
    --neon1 : rgb(9, 245, 245);
}

.section-registration {
    width: 100%;
    /* height: 100vh; */
    background-color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.main-registration {
    /* padding: 5% 0%; */
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-registration
{
    padding: 5% 0%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.heading-registrataion {
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
}

.input-fields-main-div {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-group {
    width: 35%;
    /* height: 10vh; */
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    margin: 1%;
}

.form-group label {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.3rem;
    margin: 1% 0;
    margin-bottom: 2%;
}

.form-group input {
    width: 100%;
    height: 6vh;
    border-radius: 5px;
    font-size: 1rem;
    padding: 1% 2%;
    color: white;
    text-indent: 10px;
    border-radius: 10px;
    outline: none;
    background: none;
    transition: 0.3s;
    border: 1px solid var(--neon1);
    z-index: 2;
}


.form-group input:focus {
    box-shadow: 0 0 15px var(--neon1), 0 0 75px var(--neon1);
}

.form-group input::placeholder {
    color: grey;
}
.form-group select {
    width: 100%;
    height: 7vh;
    border-radius: 5px;
    font-size: 1rem;
    padding: 1% 2%;
    color: white;
    border-radius: 10px;
    outline: none;
    background: none;
    transition: 0.3s;
    border: 1px solid var(--neon1);
    z-index: 2;
}


.form-group select:focus {
    box-shadow: 0 0 15px var(--neon1), 0 0 75px var(--neon1);
}

.form-group select::placeholder {
    color: grey;
}


.form-button
{
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1%;
}

.form-button button
{
    width: 20%;
    height: 6vh;
    border-radius: 5px;
    font-size: 1rem;
    padding: 1% 2%;
    color: white;
    text-indent: 10px;
    border-radius: 10px;
    outline: none;
    background: none;
    transition: 0.3s;
    border: 1px solid var(--neon1);
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-button button:hover {
    box-shadow: 0 0 15px var(--neon1), 0 0 75px var(--neon1);
    background: var(--neon1);
    color: black;
}